<div class="{{ theme }} content">
  <figure class="image">
    <img src="/assets/images/profile.png" id="profile" alt="Profile Picture" />
  </figure>

  <div id="bioText">
    <p class="{{ themeInverse }} title" id="bioTitle">About me</p>
    <p class="{{ themeInverse }}">{{ biography }}</p>

    <div id="socialLinks">
      <div class="socialContainer" id="git">
        <img src="/assets/icons/git.svg" class="icon" alt="Github Icon" />
        <a href="https://github.com/helblingjoel" class="socialLink"
          >github.com/helblingjoel</a
        >
      </div>
      <div class="socialContainer" id="twitter">
        <img src="/assets/icons/twitter.svg" class="icon" alt="Twitter Icon" />
        <a href="https://twitter.com/_helblingjoel" class="socialLink"
          >twitter.com/_helblingjoel</a
        >
      </div>
      <div class="socialContainer" id="instagram">
        <img
          src="/assets/icons/instagram.svg"
          class="icon"
          alt="Instagram Icon"
        />
        <a href="https://instagram.com/helblingjoel" class="socialLink"
          >instagram.com/helblingjoel</a
        >
      </div>
      <div class="socialContainer" id="linkedin">
        <img
          src="/assets/icons/linkedin.svg"
          class="icon"
          alt="LinkedIn Icon"
        />
        <a
          href="https://www.linkedin.com/in/joel-helbling-707ba0171/"
          class="socialLink"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>
</div>
