<app-header></app-header>
<div class="columns">
  <div class="column is-one-quarter" id="sidebarColumn">
    <app-sidebar></app-sidebar>
  </div>
  <div class="column">
    <div class="notification is-warning">
      <p>This website is currently still in development</p>
    </div>

    <p class="title {{ this.themeInverse }}">Blogs</p>
    <!-- Display blogs -->
    <div class="columns is-multiline">
      <div
        class="column is-one-third projectRow"
        *ngFor="let blog of this.displayingPosts"
      >
        <a routerLink="{{ this.currentURL + '/' + blog.id }}">
          <div class="box blog {{ this.theme }} box-link-hover-shadow">
            <p class="title is-5 {{ this.themeInverse }}">
              {{ blog.title }}
            </p>

            <p class="{{ this.themeInverse }}">{{ blog.body }}</p>
            <p
              class="subtitle is-size-7 has-text-right is-italic timestamp {{
                this.themeInverse
              }}"
            >
              {{ blog.timestamp }}
            </p>
          </div>
        </a>
      </div>
    </div>

    <p class="{{ this.themeInverse }}">Blog page works!</p>
  </div>
</div>
