<app-header></app-header>
<div class="columns">
  <div class="column is-one-quarter" id="sidebarColumn">
    <app-sidebar></app-sidebar>
  </div>
  <div class="column">
    <div class="notification is-warning">
      <p>This website is currently still in development</p>
    </div>

    <!-- Only act once the content has arrived-->
    <div *ngIf="this.self">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a routerLink="/posts">Posts</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li class="is-active">
            <a
              href="#"
              aria-current="page"
              class="blogTitle {{ this.theme }}"
              >{{ this.self.title }}</a
            >
          </li>
        </ul>
      </nav>
      <p class="title {{ this.themeInverse }}">{{ this.self.title }}</p>
      <p class="is-size-7 subtitle {{ this.themeInverse }}">
        {{ this.self.timestamp }}
      </p>

      <div class="content {{ this.theme }}">
        <p>
          {{ this.self.body }}
        </p>
      </div>
    </div>
  </div>
</div>
