@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1em;
  font-weight: 400;
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

@layer utilities {
  .theme-light {
    /* @apply text-light-primary; */
  }

  .theme-dark {
    /* @apply text-dark-primary; */
    background-color: red;
    color: red;
  }
}

.h1 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* Tailwind 2xl */
  font-size: 1.5rem;
  line-height: 2rem;
}

.h2 {
  font-weight: 600;
  margin-bottom: 0.3rem;
  /* Tailwind xl */
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.inlineWrapper {
  display: grid;
  gap: 0.75rem;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .inlineWrapper {
    display: flex;
  }
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.link {
  /* violet-300 */
  text-decoration-color: #c4b5fd;
  text-decoration-line: underline;
}

.anchor:hover {
  text-decoration-color: #f714b1;
  text-decoration-line: underline;
}

.skip-to-content-link {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}
