#wave {
	animation-duration: 3s;
	animation-name: wave;
	animation-iteration-count: infinite; /* Add this line */
}

@keyframes wave {
	0% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(10deg);

	}
	100% {
		transform: rotate(-5deg);
	}
}
.no-scroll {
	overflow: hidden;
}