#blogWrapper h1 {
	font-weight: 600;
	margin-bottom: 0.5rem;
	/* Tailwind 2xl */
	font-size: 1.5rem;
	line-height: 2rem;
}

#blogWrapper h2 {
	font-weight: 600;
	margin-bottom: 0.3rem;
	/* Tailwind xl */
	font-size: 1.25rem; 
	line-height: 1.75rem; 
}

#blogWrapper img {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#blogWrapper a {
	text-decoration-color: #c4b5fd;
	text-decoration-line: underline;
}

#blogWrapper > h1:not(:first-child){
	margin-top: 0.5rem;
}

#blogWrapper p {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

#blogHeader {
	display: inline-flex;
	gap: 0.2rem;
	margin-bottom: 0.4rem;
}

#blogHeader > a {
	margin-top: auto;
	margin-bottom: auto;
}

#blogWrapper > ul {
	margin-top: 1em;
}

#blogWrapper > ol {
	list-style: decimal;
	margin-left: 2em;
}

#blogWrapper > p > code {
	color: red;
}