@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: rgb(243, 243, 243);
	--secondary: rgb(24, 24, 24);
	--accent: rgb(250, 250, 250);
	--linkcolor: #485fc7;
	--linkhover: rgb(240, 240, 240);
	--navbar: rgb(250, 250, 250);

	background-color: var(--primary);
	color: var(--secondary);
}

[data-theme="dark"] {
	--primary: rgb(43, 43, 43);
	--secondary: rgb(243, 243, 243);
	--accent: rgb(26, 26, 26);
	--linkcolor: #ccd5ff;
	--linkhover: rgb(110, 110, 110);
	--navbar: rgb(0, 0, 0);
}

html {
	background-color: var(--primary);
	color: var(--secondary);
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
	font-family: Matter, ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
}

hr {
	background-color: var(--secondary);
}
