@import "../node_modules/bulma/css/bulma.min.css";

:root {
	--primary: rgb(250, 250, 250);
	--secondary: rgb(24, 24, 24);
	--accent: rgb(255, 255, 255);
	--linkcolor: #485fc7;
	--linkhover: rgb(240, 240, 240);
	--navbar: rgb(255, 255, 255);

	background-color: var(--primary);
	color: var(--secondary);
}

[data-theme="dark"] {
	--primary: rgb(43, 43, 43);
	--secondary: rgb(243, 243, 243);
	--accent: rgb(26, 26, 26);
	--linkcolor: #ccd5ff;
	--linkhover: rgb(110, 110, 110);
	--navbar: rgb(0, 0, 0);
}

html {
	background-color: var(--primary);
	color: var(--secondary);
	scroll-behavior: smooth;
}

body {
	background-color: var(--primary);
	color: var(--secondary);
}

hr {
	background-color: var(--secondary);
}

div {
	background-color: var(--primary);
	color: var(--secondary);
}

div.card {
	background: var(--accent);
	z-index: 0;
}

footer.card-footer {
	background: var(--accent);
}

p {
	overflow: hidden;
}

div.card-header-title {
	background-color: var(--accent);
	color: var(--secondary);
}

p.card-header-title {
	color: var(--secondary);
}

pre {
	background-color: #23241f;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

pre code {
	color: #fff;
}

p.codeFilename {
	color: rgb(110, 110, 110);
}

a {
	color: var(--linkcolor);
	background-color: var(--primary);
}

a:hover {
	color: var(--linkcolor);
	background-color: var(--linkhover);
}

hr {
	background-color: var(--linkhover);
}

.table thead th {
	background-color: var(--primary);
	color: var(--secondary);
}

.table td {
	background-color: var(--primary);
	color: var(--secondary);
}

.table {
	background-color: var(--primary);
	color: var(--secondary);
}

input.input {
	background-color: var(--primary);
	color: var(--secondary);
}

label.checkbox:hover {
	color: var(--secondary);
}

input.input::placeholder {
	color: var(--secondary);
}

img.left-aligned {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

img.right-aligned {
	align-items: right;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.title {
	color: var(--secondary);
}

.subtitle {
	color: var(--secondary);
	font-weight: bold;
}

.hidden {
	display: none;
}

.accented {
	background-color: var(--accent);
}

.access-skipnav {
	position: absolute;
	transform: translateY(-110%);
	background-color: var(--secondary);
	color: var(--primary);
	padding: 0.5rem 1.5rem;
}

.access-skipnav:focus {
	z-index: 1;
	transform: translateY(+30%);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: inherit;
}

/* Narrow desktop but not yet mobile */
@media (min-width: 769px) and (max-width: 1030px) {
	.tweetAuthor {
		display: none;
	}
}

/* Incredibly narrow */
@media (max-width: 310px) {
	.tweetAuthor {
		display: none;
	}
}

/* Mobile only */
@media (max-width: 768px) {
	.desktop {
		display: none;
	}

	.mobileHidden {
		display: none;
	}

	img.left-aligned {
		margin: 0;
		margin-bottom: 2vw;
		float: none;
		display: block;
	}

	img.right-aligned {
		margin: 0;
		margin-bottom: 2vw;
		float: none;
		display: block;
	}

	article.is-half#article {
		width: 100%;
	}
}

/* Desktop only */
@media (min-width: 769px) {
	.mobile {
		display: none;
	}

	.extraSpaceDesktop {
		margin-top: 2vw;
		margin-bottom: 2vw;
	}

	/* Blog placeholder - only display when bigger than square */
	@media (max-aspect-ratio: 5/4) {
		#blogMargin {
			display: none;
			visibility: hidden;
			clear: both;
		}
	}

	article {
		width: 50%;
	}
}

#profile {
	border-radius: 50%;
	max-width: 250px;
	max-height: 250px;
	margin: auto;
}

.socialContainer {
	margin-bottom: 0.5rem;
}

div.tags {
	background-color: var(--accent);
}

.uniResults {
	width: 95%;
}

a.navbar-item {
	background-color: var(--navbar);
	color: var(--secondary);
}

a.navbar-item:hover {
	background-color: var(--primary);
	color: var(--secondary);
}

.navbar {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

.navbar-menu {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

.navbar-item {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

div.navbar-start {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

div.navbar-brand {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

div.navbar-end {
	background-color: var(--navbar);
	color: var(--secondary);
	z-index: 0;
}

.menu-label {
	color: var(--secondary);
}

.menu-list a {
	color: var(--secondary);
}

a.is-active {
	color: var(--primary);
}

.hidden {
	opacity: 0;
}

#backToTopContainer {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	bottom: 0;
	left: 0;
	transition: opacity 0.6s linear;
	z-index: 1;
}

#backToTopButton {
	margin-bottom: 4vw;
	margin-left: 4vw;
	background-color: var(--secondary);
	color: var(--primary);
}

#nhsd-menu {
	background: linear-gradient(90deg, #0a5bba 80%, #fff 20%);
	border: 1px solid black;
}

#kent-menu {
	background: linear-gradient(90deg, #043a84 80%, #fff 20%);
	border: 1px solid black;
}

#waitrose-menu {
	background: linear-gradient(90deg, #578626 80%, #04462f 20%);
	border: 1px solid black;
}

#mcd-menu {
	background: linear-gradient(90deg, #d40007 80%, #febc0c 20%);
	border: 1px solid black;
}

#rha-menu {
	background: linear-gradient(90deg, #ad033b 80%, #fff 20%);
	border: 1px solid black;
}

.tweet:hover {
	cursor: pointer;
}

.icon {
	height: 20px;
	width: 20px;
}
