#mcdonalds-image {
	align-items: right;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

@media (max-width: 560px) {
	#mcdonalds-image {
		margin: 0;
		margin-bottom: 2vw;
		float: none;
		display: block;
	}
}
