.menu-label {
	color: var(--secondary);
}

.menu-list a {
	color: var(--secondary);
}

a.is-active {
	color: var(--primary);
}

.hidden {
	opacity: 0;
}

#backToTopContainer {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	bottom: 0;
	left: 0;
	transition: opacity 0.6s linear;
	z-index: 1;
}

#backToTopButton {
	margin-bottom: 4vw;
	margin-left: 4vw;
	background-color: var(--secondary);
	color: var(--primary);
}

#nhsd-menu {
	background: linear-gradient(90deg, #0a5bba 80%, #fff 20%);
	border: 1px solid black;
}

#kent-menu {
	background: linear-gradient(90deg, #043a84 80%, #fff 20%);
	border: 1px solid black;
}

#waitrose-menu {
	background: linear-gradient(90deg, #578626 80%, #04462f 20%);
	border: 1px solid black;
}

#mcd-menu {
	background: linear-gradient(90deg, #d40007 80%, #febc0c 20%);
	border: 1px solid black;
}

#rha-menu {
	background: linear-gradient(90deg, #ad033b 80%, #fff 20%);
	border: 1px solid black;
}
